.DS_Store
*~
node_modules
lib
dist

#css~sass ignoring
dist*.css.map
src/styles/.sass-cache

viewer/webpub-viewer.js
viewer/sw.js
viewer/main.css

examples/static/viewer/*
examples/streamed/readers/reader-JBKS/*