.DS_Store
*~
node_modules
lib
dist

#css~sass ignoring
dist*.css.map
src/styles/.sass-cache

viewer/webpub-viewer.js
viewer/sw.js
viewer/main.css

examples/static/viewer/*

backstop_data/bitmaps_reference
backstop_data/bitmaps_test
backstop_data/html_report
backstop_data/ci_report