// Colors imported from NYPL Toolkit
// https://github.com/NYPL/design-toolkit/blob/master/sass/_colors.scss
//@warn "zip";

// MTA Subway-Reads (name subject to change)
$mta-green: #468028;

$mta-green-shade: darken($mta-green, 20%);

$mta-gray: #9d9d9d;

$mta-gray-shade: darken($mta-gray, 20%);

$mta-dark-gray: darken($mta-gray, 40%);

$mta-gray-tint: lighten($mta-gray, 20%);

$transparent-mta-gray: rgba($mta-gray, 0.1);

$mta-white: #fff;

$mta-black: #111;

// MTA Reds
$mta-error-red: #d0343a;
