// Colors imported from NYPL Toolkit
// https://github.com/NYPL/design-toolkit/blob/master/sass/_colors.scss
@warn "TODO: Nada... yet!";

// NYPL Reds
$nypl-red: #d0343a;

$nypl-red-dark: #97272c;

// NYPL Monochromatic

$nypl-gray-cool: #76777b;

$nypl-gray: #776e64;

$nypl-gray-brown: #54514a;

$nypl-dark-gray: darken($nypl-gray, 40%);

$nypl-light-gray: lighten($nypl-gray, 40%);

$nypl-white: #fff;

$nypl-black: #111;
