//////////////////////////////
// Settings View Sytles     //
//////////////////////////////
.settings-view {

  > .settings-menu {
    background-color: $mta-white;
    border: 0.0625rem solid $mta-gray-tint;
    border-radius: 0.1875rem;
    left: 0;
    margin: 0.25rem 0 0 2%;
    padding: 0 1rem;
    position: relative;
    width: 85%;

    @media (min-width: 60rem) {
      border-bottom: 0.625rem solid $mta-gray-tint;
      width: 100%;
    }

    .connected-status {
      display: none;
    }

    button {
      border: 0.0625rem solid $mta-green;
      border-radius: 0.375rem;
      //font-size: $basefont;
      padding: 0.35rem;
      text-transform: uppercase;

      @media (min-width: 60rem) {
        width: auto;
      }

      // reverse the active state
      &.active {
        color: $nypl-white;
        background-color: $mta-green;
      }
    }

    > li {
      border: 0;
      color: $mta-green-shade;
      display: inline-block;
      margin: 0.5rem 0.3rem 0.5rem 0;
      padding: 0;
      vertical-align: text-bottom;
      width: auto;

      @media (min-width: 60rem) {
        display: inline-block;
        margin-right: 1%;
      }
    }

    > li:nth-child(3) {
      display: none;
      margin-right: 0;
    }

    .settings-options {
      padding-left: 0;

      @media (min-width: 60rem) {
        width: 100%;
      }

      li {
        border: 0;
        display: inline-block;
        margin: 0;
        width: auto;
      }

      .font-setting {
        vertical-align: text-bottom;
      }

      button.columns-paginated-view {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button.scrolling-book-view {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -0.3125rem; // there might be a better way to accomplish this...
      }

      button > .icon {
        //background-color: $mta-green;
        //border: 0;
        //border-radius: 3rem;
        //color: $mta-white;
        //font-size: 1.3rem;
        //padding: 0.2rem 0.69rem;
        color: $mta-green;
        fill: $mta-green;
        height: 1.25rem;
        width: 1.25rem;
      }

      button.increase,
      button.decrease {
        background-color: $mta-white;
        border: 0;
        padding: 0;
      }
    } // / settings-options
  }
}
