//////////////////////////////
// Table of Contents Styles //
//////////////////////////////
.contents-view {
  background-color: $nypl-white;
  top: 3.2rem;

  ul li {
    margin-top: 0;
    width: 88%;

    a {
      color: $mta-green-shade;
      border-bottom: 1px solid darken($nypl-white, 20%);
      display: block;
      padding: 1rem;
      text-decoration: none;
      width: 100%;

      &:hover {
        background: $mta-green-shade;
        color: $nypl-white;
      }

      &.active {
        background: $mta-gray;
        color: $nypl-black;
      }

      &.active:hover {
        background: $nypl-black;
        color: $mta-gray;
      }
    }
  }
}
/// / TOC //
