@warn  "Move TOC section to a partial";
//////////////////////////////
// Table of Contents Sytles //
//////////////////////////////
.contents-view {
  background-color: $nypl-white;
  top: 3.2rem;

  ul li {
    border-bottom: 1px solid darken($nypl-white, 20%);
    margin-top: 0;
    width: 90%;

    &:hover {
      background: $nypl-blue-dark;
    }

    a {
      color: $nypl-blue-dark;
      display: block;
      padding: 1rem;
      text-decoration: none;
      width: 90%;

      &:hover {
        color: $nypl-white;
      }

      &.active {
        background: lighten($nypl-blue, 30%);
        color: $nypl-black;
        width: initial;
      }

      &.active:hover {
        background: $nypl-black;
        color: lighten($nypl-blue, 30%);
      }
    }
  }
}
/// / TOC //
