//////////////////////////////
// Table of Contents Styles //
//////////////////////////////
.contents-view {
  background-color: $ui-white;
  overflow: scroll;
  top: 3.2rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  ol li {
    margin-top: 0;
    width: 88%;

    a {
      color: $ui-dark-gray;
      border-bottom: 1px solid darken($ui-white, 20%);
      display: block;
      padding: 1rem;
      text-decoration: none;
      width: 100%;

      @media screen and (min-width: 60rem) {
        &:hover {
          background: $ui-dark-gray;
          color: $ui-white;
        }
      }

      &.active {
        background: $ui-light-gray;
        color: $ui-black;
      }

      &.active:hover {
        background: $ui-black;
        color: $ui-light-gray;
      }
    }

    span {
      color: $ui-dark-gray;
      border-bottom: 1px solid darken($ui-white, 20%);
      display: block;
      padding: 1rem;
      text-decoration: none;
      width: 100%;
    }
  }
}

[data-viewer-theme="sepia"] {
  .contents-view {
    background-color: $sepia-bg;

    ol li {
      a {
        color: $ui-dark-gray;
        border-bottom: 1px solid darken($sepia-bg, 20%);

        @media screen and (min-width: 60rem) {
          &:hover {
            background: $ui-dark-gray;
            color: $sepia-bg;
          }
        }

        &.active {
          background: $ui-light-gray;
          color: $ui-black;
        }

        &.active:hover {
          background: $ui-black;
          color: $ui-light-gray;
        }
      }

      span {
        color: $ui-dark-gray;
        border-bottom: 1px solid darken($sepia-bg, 20%);
      }
    }
  }
}

[data-viewer-theme="night"] {
  .contents-view {
    background-color: $ui-black;

    ol li {
      a {
        color: $ui-white;
        border-bottom: 1px solid lighten($ui-black, 20%);

        @media screen and (min-width: 60rem) {
          &:hover {
            background: $ui-dark-gray;
            color: $ui-white;
          }
        }

        &.active {
          background: $ui-light-gray;
          color: $ui-black;
        }

        &.active:hover {
          background: $ui-black;
          color: $ui-light-gray;
        }
      }

      span {
        color: $ui-light-gray;
        border-bottom: 1px solid lighten($ui-black, 20%);
      }
    }
  }
}
/// / TOC //
