//////////////////////////////
// Table of Contents Styles //
//////////////////////////////
.contents-view {
  background-color: $mta-white;
  overflow: scroll;
  top: 3.2rem;

  ul li {
    margin-top: 0;
    width: 88%;

    a {
      color: $mta-dark-gray;
      border-bottom: 1px solid darken($mta-white, 20%);
      display: block;
      padding: 1rem;
      text-decoration: none;
      width: 100%;

      @media screen and (min-width: 60rem) {
        &:hover {
          background: $mta-dark-gray;
          color: $mta-white;
        }
      }

      &.active {
        background: $mta-gray;
        color: $mta-black;
      }

      &.active:hover {
        background: $mta-black;
        color: $mta-gray;
      }
    }
  }
}
/// / TOC //
