// Variables & Mixins etc.
@warn "TODO: create & move _colors.scss to its own file";
// Colors
$light-gray: rgb(221, 221, 221);
$dark-gray: darken($light-gray, 55%);

// Type
@warn "TODO: create & add font stack to _type.scss";
$sans-serif-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$serif-stack: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
// Navigation Control

.controls {
  font-family: $sans-serif-stack;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 2em;

  .links {
    background-color: $dark-gray;
    height: inherit;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 2px;
    text-align: center;
  }
}
