// Variables & Mixins etc.

// Colors
@import "colors";
// Type
@import "type";

// Navigation Control
// Temp grayscaling for ease of styling...
body {
  // filter: grayscale(1);
  // filter: grayscale(0);
  @media (min-width: 960px) {
    margin: 0 auto;
    width: 960px;
  }
}

.controls {
  color: $nypl-blue-dark;
  font-family: $sans-serif-stack;
  font-size: $basefont;
  height: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

// media queries
  @media (min-width: 489px) {
    //height: 2.5rem;
  }

  .links {
    background-color: $nypl-white;
    height: inherit;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0.125rem;
    text-align: center;

    .icon {
      color: $nypl-blue-dark;
      fill: $nypl-blue-dark;
      height: 1.5rem;
      width: 1.5rem;
    }
    // Do some clean up on the deep nesting...
    @warn "TODO: Clean up the nestings...its getting out of hand. ";

    .setting-text {
      display: none;

      &.settings {
        top: -0.4rem;
      }

      &.contents {
        top: -0.55rem;

        @media (min-width: 489px) {
          display: inline-block;
          position: relative;
          top: -0.35rem;
        }
      }
    }

    // @media (min-width: 489px) {
    //   .setting-text {
    //     display: inline-block;
    //     position: relative;
    //     top: -0.8rem;
    //   }
    // }

    &.top {
      background-color: $nypl-white;
      border-bottom: 3px solid $nypl-blue-dark;

      li:nth-child(1) {
        display: none;
      }

      li:nth-child(3) {
        float: right;
      }
    }
    // Bottom Controls
    // the, fixed bar and the arrows.
    &.bottom {
      border-top: 0.16rem solid $nypl-blue-dark;
      bottom: 0;
      display: block;
      height: 3.2rem;
      padding-top: 0.625rem;
      position: fixed;
      width: 100%;

      @media (min-width: 489px) {
        padding-top: 0;
        }
        
      li {
        border: 0;
        float: none;
        padding: 0;

        @media (min-width: 489px) {
          &:nth-child(1) {
            float: left;
          }

          &:nth-child(3) {
            float: right;
          }
        }
      }

      // The Chapters label found only on mobile
      li[aria-label="chapters"] {
        margin: 0 20%;
        position: relative;
        top: -0.3rem;
        text-align: center;

        @media (min-width: 489px) {
          display: none;
          }
        }

      @media (min-width: 489px) {
        background: lighten($nypl-blue-dark, 50%);
        }

      .icon {
        height: 1.5rem;
        width: 1.5rem;

        @media (min-width: 489px) {
          position: relative;
          top: 0.375rem;
        }
      }

      .chapter-control {
        display: none;

        @media (min-width: 489px) {
          display: inline-block;
          }
        }
      }
    }

  ul li {
    border: 0.125rem solid $nypl-blue-dark;
    border-radius: 0.3125rem;
    display: inline-block;
    float: left;
    padding: 0.35rem;
    margin: 0.625rem;

    // @media (min-width: 489px) {
    //   border: 1px solid $nypl-white;
    // }
  }

  a {
    color: $nypl-blue-dark;
    text-decoration: none;
    }
  }

.loading {
  background-color: $nypl-blue;
  font-family: $sans-serif-stack;
  height: 12.5rem;
  left: calc(50% - 6.25rem);
  position: fixed;
  text-align: center;
  top: calc(50% - 6.25rem);
  width: 12.5rem;
}

.controls-view {
  font-family: $sans-serif-stack;
  height: calc(100% - 2rem);
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 4.4rem;
  width: 100%;

  @media (min-width: 489px) {
    top: 4.4rem;
  }

  ul li {
    list-style: none;
    margin: 0.375rem 0;
  }

  .active {
    // background-color: $nypl-blue;
  }

  .disabled {
    background-color: darken($nypl-blue, 20%);
    }
  }
// /controls-view

.contents-view {
  background-color: $nypl-white;
  border: 0.125rem solid $nypl-blue;
}

@warn  "Move Setting section to a partial";

.settings-view {

  > .settings-menu {
    background-color: $nypl-white;
    border: 2px solid $nypl-blue-dark;
    left: 0;
    //height: calc(100% - 10rem);
    margin-top: -8px;
    padding: 1rem 1rem 0;
    position: relative;
    //width: 85%;

    @media (min-width: 489px) {
      left: calc(100vw - 37vw);
    }

    a {
      border: 2px solid $nypl-blue-dark;
      border-radius: 0.375rem;
      color: $nypl-blue-dark;
      padding: 0.35rem;
      text-decoration: none;
      width: 50%;

      @media (min-width: 489px) {
        width: 30%;
      }

      // reverse the active state
      &.active {
        color: $nypl-white;
        background-color: $nypl-blue-dark;
      }
    }

    > li {
      color: $nypl-blue-dark;
      margin: 0.5rem 0;
    }

    > li:nth-child(3) {
      margin: 1rem 0 1.25rem;
    }

    .settings-options {
      margin-top: 0.35rem;
      padding-left: 0;
      // width: 65%;
      // media q here

      li {
        // border: 1px solid $nypl-white;
        // border-radius: 3px;
        display: inline-block;
        margin-bottom: 1rem;
        margin-left: 0;
        padding: 0.5rem 0 0.25rem;
      }
    }
  }
}
