// Variables & Mixins etc.

// Colors
@import "colors";
// Type
@import "type";

// Navigation Control
// Temp grayscaling for ease of styling...
body {
  filter: grayscale(1);
}

.controls {
  color: $nypl-white;
  font-family: $sans-serif-stack;
  font-size: $basefont;
  height: 2.65rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

// media queries
  @media (min-width: 489px) {
    height: 2.5rem;
  }

  .links {
    background-color: $nypl-gray-cool;
    height: inherit;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0.125rem;
    text-align: center;

    .icon {
      color: $nypl-white;
      fill: $nypl-white;
      width: 2rem;
      height: 2rem;
    }
    svg[aria-label="settings"] {
      height: 1.5rem;
      width: 1.5rem;
    }

    svg[aria-label="contents"] {
      height: 1.75rem;
      width: 1.75rem;
    }
    .setting-text {
      display: none;

      &.settings {
        top: -0.4rem;
      }

      &.contents {
        top: -0.55rem;
      }
    }

    @media (min-width: 489px) {
      .setting-text {
        display: inline-block;
        position: relative;
        top: -0.8rem;
      }
    }

    &.top {
      background-color: $nypl-gray;

      li:nth-child(3) {
        float: right;
      }
    }

    &.bottom {
      border-top: 0.16rem solid $nypl-black;
      bottom: 0;
      position: fixed;
      width: 100%;

      @media (min-width: 375px) {
        background-color: darken($nypl-gray, 15%);
        }

        .chapter-control {
          display: none;
        }
      }
    }

  ul li {
    float: left;
    margin: 0.625rem;
  }

  a {
    color: $nypl-white;
    }
  }

.loading {
  position: fixed;
  width: 12.5rem;
  height: 12.5rem;
  text-align: center;
  left: calc(50% - 6.25rem);
  top: calc(50% - 6.25rem);
  background-color: $nypl-gray-cool;
}

.controls-view {
  font-family: $sans-serif-stack;
  height: calc(100% - 2rem);
  left: 0;
  overflow: scroll;
  position: fixed;
  padding: 0.625rem;
  top: 2.75rem;
  width: 100%;

  @media (min-width: 489px) {
    top: 2.55rem;
  }

  ul {
    list-style: none;
  }

  .active {
    background-color: $nypl-gray-cool;
  }

  .disabled {
    background-color: darken($nypl-gray-cool, 20%);
    }
  }


.contents-view {
  background-color: $nypl-white;
  border: 0.125rem solid $nypl-gray-cool;
}

.settings-view > ul {
  position: relative;
  left: 35%;
  width: 50%;
  height: 50%;
  margin-top: -8px;
  padding-top: 1rem;
  background-color: $nypl-white;
  border: 2px solid $nypl-gray-cool;
}
