@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

.epub-type-z3998-letter{
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

.epub-type-z3998-letter + p{
	text-indent: 0;
}

.epub-type-z3998-valediction{
	text-align: right;
}

.epub-type-se-letter.dateline p{
	text-indent: 0;
}

.epub-type-se-letter.body{
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
}

.epub-type-se-letter.body,
.inscription p,
table p{
	text-indent: 0;
}

h3 span.first-child,
h3 span:first-child{
	display: block;
}

span.era{
	font-variant: small-caps;
	text-transform: lowercase;
}

span.name{
	white-space: nowrap;
}

.algebra{
	font-style: italic;
}

.inscription{
	text-align: center;
	font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: right;
}

section.epub-type-halftitlepage span.epub-type-subtitle{
	display: block;
	font-size: .75em;
	font-weight: normal;
}
